body {
    background-color: #f8f9fa;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('images/bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh;
}
.container {
    max-width: 700px;
}
.card {
    margin: 15px 0;
    background-color: transparent;
}
